.banner {
  background: #333;
  color: #fff;
  padding: 100px 0px;
  font-family: "Fira Sans", sans-serif;
  -webkit-clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
  clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
  overflow: hidden;
}
.carousel-item img {
  height: 410px;
}
.carousel-indicators {
  display: none;
}
.banner-content button {
  background: #f9bc2f;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
}
.banner-content h4 span {
  color: #f9bc2f;
  font-size: 40px;
}
@media screen and (min-device-width: 250px) and (max-device-width: 768px) {
  .carousel-item img {
    height: 350px;
  }
}
